/node_modules
/public/hot
/public/storage
/public/export_files
/storage/*.key
/vendor
/app/Constants/constant.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
